
<h1 class="center-align">About Us</h1>

<div class="center-align">
  <div class="row">
    <div class="col s12 m4"><%= image_tag "icons/github_octocat.png", width: "60%" %></div>
    <div class="col s12 m4"><%= image_tag "icons/feature_qa.png", width: "50%" %></div>
    <div class="col s12 m4"><%= image_tag "icons/deploy_heroku.png", width: "60%" %></div>
  </div>

  <div class="row">
    <div class="col s12 m4"><%= link_to "Github", "https://github.com/Willardgmoore/travel_buddy" %></div>
    <div class="col s12 m4"><%= link_to "Staging Environment", "http://qa.travelbuddyapp.us/" %></div>
    <div class="col s12 m4"><%= link_to "Production Environment", "http://travelbuddyapp.us/" %></div>
  </div>
</div>