<div class="container">
  <h1 class="center-align blue-text accent-2">About Us</h1>
  <div class="center-align">
    <div class="row">
      <div class="col s4 responsive-img">
      <%= link_to(image_tag("icons/github_octocat.png", width: "60%", :alt => "Github"), "https://github.com/Willardgmoore/travel_buddy") %>
      </div>
      <div class="col s4 responsive-img">
      <%= link_to(image_tag("icons/feature_qa.png", width: "50%", :alt => "Github"), "http://qa.travelbuddyapp.us/") %>
      </div>
      <div class="col s4 responsive-img">
      <%= link_to(image_tag("icons/deploy_heroku.png", width: "60%", :alt => "Github"), "http://travelbuddyapp.us/") %>
      </div>
    </div>
    <div class="row ">
        <div class="col s4"><%= link_to "Github", "https://github.com/Willardgmoore/travel_buddy" %></div>
        <div class="col s4"><%= link_to "Staging Environment", "http://qa.travelbuddyapp.us/" %></div>
        <div class="col s4"><%= link_to "Production Environment", "http://travelbuddyapp.us/" %></div>
    </div>
  </div>
</div>

<div class="light-grey section">
  <div class="container row">
    <h5 class="center-align">
      How we stand out?
    </h5>
    <p class="flow-text center-align">We wanted to similate a real work environment as much as possible. To do so, we created seperate Develop, Staging, and Production branches and Heroku Servers. Furthermore, we have seperate buckets on Amazon Web Services to keep our QA environment from interupting our production environment, while allowing us to really test our product before each production release.</p>
  </div>
</div>

<div class="section">
  <div class="container row">
    <p class="flow-text center-align">In our Journey to make travel easier for you, we ended up using lots of cool technologies. Some things that we ended up including to make our app great are: <strong>Single Table Inheritance, Nested Attributes, Nested Routes, Polymorphic Associations, Google Map, 98% Rspec Coverage, and some awesome Ruby gems like: Cocoon, Materialize, Chart-js, Gmaps, Devise, Paperclip, and Puma. </strong></p>
  </div>
</div>

<section class="wrapper blue_wallpaper">
 <div class="row">
    <h4 class="center-align">
      Meet the team
    </h4>
    <!-- Person left -->
    <div class="col s12 m4 responsive-img">
      <div>
      <%= link_to(image_tag("willard.jpg", width: "90%", :alt => "My Face", class:"rcorners5"), "https://www.linkedin.com/in/willardgmoore") %>
      <h4 class="center-align">Willard Moore</h4>
      </div>
      <div class="row center-align">
        <div class="col s6 m6 ">
        <%= link_to(image_tag("icons/gitopuss_open_box.png", width: "50%", :alt => "Github"), "https://github.com/Willardgmoore") %>
        </div>
        <div class="col s6 m6 ">
        <%= link_to(image_tag("icons/Linkedin.ico", width: "50%", :alt => "Linkedin"), "https://www.linkedin.com/in/willardgmoore") %>
        </div>
        <p class="flow-text">
        I love the vast potential that my new skills grant me. I now do what I love! I don't care how difficult a "work" day can be. I am a developer! I make things! <br><br>"Develop success from failures. Discouragement and failure are two of the surest stepping stones to success." -Carnegie
        </p>
      </div>
    </div>
    
    <!-- Person center -->
      <div class="col s12 m4 responsive-img">
      <div>
      <%= link_to(image_tag("parker.jpg", width: "90%", height: "5%", :alt => "Your Face", class:"rcorners4"), "https://www.linkedin.com/pub/parker-bond/102/790/181") %>
      <h4 class="center-align">Parker Bond</h4>
      </div>
      <div class="row center-align">
        <div class="col s6 m6 ">
        <%= link_to(image_tag("icons/gitlogo.png", width: "40%", :alt => "Github"), "https://github.com/bondparkerbond") %>
        </div>
        <div class="col s6 m6 ">
        <%= link_to(image_tag("icons/Linkedin.ico", width: "50%", :alt => "Linkedin"), "https://www.linkedin.com/pub/parker-bond/102/790/181") %>
        </div>
         <p class="flow-text">I graduated from Utah State University with a Spanish major and a Physics minor in 2011. After working for several years, most recently in manual QA, I decided to shift careers and went back to school at dev point labs to become a web developer. </p>
      </div>
    </div>

    <!-- Person right -->
       <div class="col s12 m4 responsive-img">
      <div>
      <%= link_to(image_tag("jordan.jpg", width: "90%", :alt => "Your Face", class:"rcorners6"), "https://www.linkedin.com/in/jordanswu") %>
      <h4 class="center-align">Jordan Wu</h4>
      </div>
      <div class="row center-align">
        <div class="col s6 m6 ">
        <%= link_to(image_tag("icons/github.png", width: "40%", :alt => "Github"), "https://github.com/JordanSpencerWu") %>
        </div>
        <div class="col s6 m6 ">
        <%= link_to(image_tag("icons/Linkedin.ico", width: "50%", :alt => "Linkedin"), "https://www.linkedin.com/in/jordanswu") %>
        </div>
       <p class="flow-text">I recently graduated from the University of Utah. I love learning about technology and got a Bachelor in Science in Electrical Engineering. My love for programming started a year ago when I took courses at Salt Lake Community College, learning object-oriented programming and data structures. My current goals are to master Javascript and to become a software engineer.</p>
      </div>
    </div>
  </div>
</section>

<section class="blue_tear ">  
  <div class='container center-align'>
    <p class="flow-text">Dev Point Labs is an 11 week intensive Ruby on Rails Bootcamp in Salt Lake City. It covers a full web development stack (HTML, CSS, Javascript, Rails) as well as testing, version control, hosting, active record/SQL as well as JQuery, Ajax, ReactJS, and much more! </p>
  </div>
  <div class="responsive-img center-align tranparent6">
    <%= link_to(image_tag("dpl_mountain.jpg", width: "80%", :alt => "DevPointLabs"), "http://www.devpointlabs.com/") %>
  </div>
</section>

</div>