<section class="container">
  <h1 class="center-align">About Us</h1>

  <div class="center-align">
    <div class="row">
      <div class="col s4 responsive-img">
      <%= link_to(image_tag("icons/github_octocat.png", width: "60%", :alt => "Github"), "https://github.com/Willardgmoore/travel_buddy") %>
      </div>
      <div class="col s4 responsive-img">
      <%= link_to(image_tag("icons/feature_qa.png", width: "50%", :alt => "Github"), "http://qa.travelbuddyapp.us/") %>
      </div>
      <div class="col s4 responsive-img">
      <%= link_to(image_tag("icons/deploy_heroku.png", width: "60%", :alt => "Github"), "http://travelbuddyapp.us/") %>
      </div>
    </div>

    <div class="row ">
    <strong>
      <div class="col s4"><%= link_to "Github", "https://github.com/Willardgmoore/travel_buddy" %></div>
      <div class="col s4"><%= link_to "Staging Environment", "http://qa.travelbuddyapp.us/" %></div>
      <div class="col s4"><%= link_to "Production Environment", "http://travelbuddyapp.us/" %></div>
      </strong>
    </div>
<p><strong>How we stand out.</strong><br>We wanted similate a <strong>real work environment</strong> as much as possible. To do so, we created <strong>seperate Develop, Staging, and Production</strong> branches and Heroku Servers. Furthermore, we have seperate buckets on Amazon Web Services to keep our QA environment from interupting our production environment, while allowing us to really test our product before each production release. <br><br>
In our journey to make travel easier for you, we ended up using lots of cool technologies. Some things that we ended up including to make our app great are: <strong>Single Table Inheritance, Nested Attributes, Nested Routes, Polymorphic Associations, React, 98% Rspec Coverage, and some awesome Ruby gems like: Cocoon, Materialize, Chart-js, Gmaps, Devise, Paperclip, and Puma. </strong>  Please login and see how we can make your travels easier!</p>
</section>

<section class="wrapper blue_wallpaper">
 <div class="row">
    <!-- Person left -->
    <div class="col s12 m4 responsive-img">
      <div>
      <%= link_to(image_tag("willard.jpg", width: "90%", :alt => "My Face", class:"rcorners5"), "https://www.linkedin.com/in/willardgmoore") %>
      <h4 class="center-align">Willard Moore</h4>
      </div>
      <div class="row center-align">
        <div class="col s6 m6 ">
        <%= link_to(image_tag("icons/gitopuss_open_box.jpg", width: "50%", :alt => "Github"), "https://github.com/Willardgmoore") %>
        </div>
        <div class="col s6 m6 ">
        <%= link_to(image_tag("icons/Linkedin.ico", width: "50%", :alt => "Linkedin"), "https://www.linkedin.com/in/willardgmoore") %>
        </div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
    </div>
    
    <!-- Person center -->
      <div class="col s12 m4 responsive-img">
      <div>
      <%= link_to(image_tag("parker.jpg", width: "90%", :alt => "Your Face", class:"rcorners4"), "https://www.linkedin.com/pub/parker-bond/102/790/181") %>
      <h4 class="center-align">Parker Bond</h4>
      </div>
      <div class="row center-align">
        <div class="col s6 m6 ">
        <%= link_to(image_tag("icons/github.jpeg", width: "40%", :alt => "Github"), "https://www.linkedin.com/pub/parker-bond/102/790/181") %>
        </div>
        <div class="col s6 m6 ">
        <%= link_to(image_tag("icons/linkedIn1.png", width: "50%", :alt => "Linkedin"), "https://www.linkedin.com/pub/parker-bond/102/790/181") %>
        </div>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
    </div>

    <!-- Person right -->
       <div class="col s12 m4 responsive-img">
      <div>
      <%= link_to(image_tag("jordan.jpg", width: "90%", :alt => "Your Face", class:"rcorners6"), "https://www.linkedin.com/in/jordanswu") %>
      <h4 class="center-align">Jordan Wu</h4>
      </div>
      <div class="row center-align">
        <div class="col s6 m6 ">
        <%= link_to(image_tag("icons/github_octocat.png", width: "50%", :alt => "Github"), "https://github.com/JordanSpencerWu") %>
        </div>
        <div class="col s6 m6 ">
        <%= link_to(image_tag("icons/linkedin_logo.png", width: "50%", :alt => "Linkedin"), "https://www.linkedin.com/in/jordanswu") %>
        </div>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
    </div>
  </div>
</section>

<section class="blue_tear ">  
  <div class="responsive-img center-align tranparent6">
    <%= link_to(image_tag("dpl_mountain.jpg", width: "80%", :alt => "DevPointLabs"), "http://www.devpointlabs.com/") %>
  </div>
  <div class='container center-align'>
    <strong><p>Dev Point Labs is an 11 week intensive Ruby on Rails Bootcamp in Salt Lake City. It covers a full web development stack (HTML, CSS, Javascript, Rails) as well as testing, version control, hosting, active record/SQL as well as JQuery, Ajax, ReactJS, and much more! </p></strong>
  </div>
</section>

</div>