.row
  .col.s12.m6
    = image_tag @user.avatar.url(:medium), class: 'center'
    %span.avatar-fullname
      = "#{@user.first_name} #{@user.last_name}"
    %span.avatar-information
      = "Birthday: #{@user.birth_date.strftime("%m/%d/%Y")}"
    %span.avatar-information
      = "Phone number: #{@user.phone_number}"
    %span.avatar-information
      = "Gender: #{@user.gender}"
    - if @user.address.nil?
      = form_for Address.new do |f|
        = f.text_field :address, placeholder: 'Enter in address'
        = f.hidden_field :user_id, value: @user.id
        %input.btn{ type: 'submit', value: 'Submit'}
    - else
      = "Address: #{@user.address.address}"
      |
      = link_to 'Edit', edit_address_path(@user.address.id)
    %br
    = link_to 'Edit Profile', edit_user_registration_path
  .col.s12.m6
    .container
      %h4.center-align Reservations by Type:
      %br
      .row
        .col.s4
          %canvas#reservations_by_type{height: 400}

