<%= form_for @trip do |f| %>
  <div class="input-field col s12">
    <%= f.text_field :name %>
    <%= f.label :name %>
  </div>

  <div class="input-field col s12">
    <%= f.text_field :description %>
    <%= f.label :description %>
  </div>

  <div class="input-field col s12">
    <%= f.date_field :start_date, class: "datepicker" %>
    <%= f.label :start_date %>
  </div>

  <div class="input-field col s12">
    <%= f.date_field :end_date, class: "datepicker" %>
    <%= f.label :end_date %>
  </div>

  <div class="input-field col s12">
    <%= f.text_field :ice_id %>
    <%= f.label :ice_id %>
  </div>

  <div class="input-field center-align">
    <input type="submit" class="btn" value="Submit">
  </div>
<% end %>
<%= link_to 'back', :back %>