<h1>Trips#index</h1>
<div class="row">
  <div class="col s12 m6 l4 new-trip-link" data-user-id='<%= @user[:id]%>'>
    <div class="card-panel">
      <div class="center-align">
        <i class="fa fa-plus fa-2x"></i><br>
        New Trip
      </div>
    </div>
  </div>

<% @trips.each do |f| %>
  <div class="col s12 m4 show-trip-link" data-contact-id='<%= f[:id] %>' data-user-id='<%= @user[:id] %>'>
    <div class="card-panel ">       
      Name: <%= f.name %><br>
      Start Date: <%= f.start_date %><br>
    </div>
  </div>
  <% end %>
</div>
