<h3 class=center-align>Trip Details</h3>
<div class="container">
  <div class="topish-left">
    <%= link_to 'Back', root_path %>
  </div>
</div>
<div class="row">
  <div class="col offset-m3 s12 m6">
    <div class="card hoverable">
      <div class="card-content white-text">
        <span class="card-title"><%= @trip.name %></span>
        <div>
          Description: <%= @trip.description %><br>
          Start Date: <%= @trip.start_date %><br>
          End Date: <%= @trip.end_date %><br>
          <% if @trip.ice_id.empty? %>
            Emergency Contact: <%= link_to 'Add a Emergency Contact', edit_trip_path(@trip) %>
          <% else %>
            Emergency Contact: <%= link_to @ice.name, contact_path(@ice) %>
          <% end %>
        </div>
      </div> 
      <div class="card-action">
        <%= link_to "Edit", edit_trip_path(@trip) %>
        <%= link_to 'Delete', trip_path(@trip), data: {:confirm => 'Are you sure?'}, :method => :delete %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s12 m3">
        <a href="#checklists">
          <i class="fa fa-list">
            <div class="hide-on-med-and-down inline">
              Checklists
            </div>
          </i>
        </a>
      </li>
      <li class="tab col s12 m3">
        <a href="#reservations">
          <i class="fa fa-calendar">
            <div class="hide-on-med-and-down inline">
              Reservations
            </div>
          </i>
        </a>
      </li>
    </ul>
    <div class="col s12" id="checklists">
      <%= render 'shared/checklists' %>
    </div>
    <div class="col s12" id="reservations">
      <%= render 'shared/reservations_trip' %>
    </div>
  </div>
</div>
