<h1>Trips#show</h1>
Shows only 1 trip<br>

<div class="row">
  <div class="col s12 m4">
    <div class="card-panel">
      Name: <%= @trip.name %><br>
      Description: <%= @trip.description %><br>
      Start Date: <%= @trip.start_date %><br>
      End Date: <%= @trip.end_date %><br>
      Emergency Contact: <%= @trip.ice_id %><br>
      <div class="card-action">
        <%= link_to "Edit", edit_user_trip_path(@user, @trip) %>
        <%= link_to 'Delete', user_trip_path(@user, @trip), data: {:confirm => 'Are you sure?'}, :method => :delete %>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6">
        <a class="active" href="#checklists">
          Checklists
        </a>
      </li>
      <li class="tab col s6">
        <a href="#reservations">
          Reservations
        </a>
      </li>
    </ul>
    <div class="col s12" id="checklists">
      <%= link_to 'create checklist for this trip', new_user_trip_checklist_path(@user, @trip) %>
    </div>
    <div class="col s12" id="reservations">
  </div>
</div>
