<h1>Trips#show</h1>
Shows only 1 trip<br>


Name: <%= @trip.name %><br>
Description: <%= @trip.description %><br>
Start Date: <%= @trip.start_date %><br>
End Date: <%= @trip.end_date %><br>
Emergency Contact: <%= @trip.ice_id %><br>