.row
  .col.s12.m3
    - if @user.avatar_file_name.nil?
      %img.center{src:"http://emblemsbf.com/img/11864.jpg"}
    - else
      = image_tag @user.avatar.url(:medium), class: 'center'
    %span.avatar-fullname
      = "#{@user.first_name} #{@user.last_name}"
    %span.avatar-information
      = "Birthday: #{@user.birth_date}"
    %span.avatar-information
      = "Phone number: #{@user.phone_number}"
    %span.avatar-information
      = "Gender: #{@user.gender}"
    - if @user.address.nil?
      = link_to 'Add address', new_user_address_path(@user)
    - else
      = "Address: #{@user.address}"
      |
      = link_to 'Edit', edit_user_address_path(@user)
  .col.s12.m9
    %ul.tabs
      %li.tab.col.s3
        %a.active{href: '#contacts'}
          Contacts
      %li.tab.col.s3
        %a{href: '#documents'}
          Documents
      %li.tab.col.s3
        %a{href: '#vaccines'}
          Vaccines
      %li.tab.col.s3
        %a{href: '#trips'}
          Trips
    #contacts.col.s12
      ADD CONTACT INFORMATION
    #documents.col.s12
      ADD DOCUMENTS INFORMATION
    #vaccines.col.s12
      ADD VACCINES INFORMATION
    #trips.col.s12
      ADD TRIPS INFORMATION




