<% if current_page?(root_path)%>
  <p class="center-align">New checklists are made within a Trip.<br>Not all lists are shown here.</p>
  <ul class="collapsible popout" data-collapsible="accordion">
<% else %>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li class="new-checklist-link"data-trip-id='<%= @trip.id %>'>
      <div class="collapsible-header"><i class="fa fa-plus fa-2x"></i>New Checklist</div>
    </li>
<% end %>

<% if @checklists != nil%>
  <% @checklists.each do |checklist| %>
    <li>
      <div class="collapsible-header"><i class="material-icons">view_list</i>
        <%= checklist.title %> 
        <% if @trip.present? %>
          <%= link_to 'Show', trip_checklist_path(@trip, checklist), class: 'wave-effect waves-light btn secondary-content hide-on-small-only' %>
          <%= link_to '<i class="fa fa-eye"></i>'.html_safe, trip_checklist_path(@trip, checklist), class: 'secondary-content hide-on-med-and-up' %>
        <% end %>
      </div>
      <div class="collapsible-body">
        <div class="collection">
          <% checklist.list_items.each do |item| %>
            <div class="collection-item">
              <% if @trip.present? %>
                <% if item.completed == false %>
                  <input type="checkbox" class="secondary-content completed" id="<%= item.id %>" data-trip-id="<%= @trip.id %>" data-checklist-id="<%= checklist.id %>"/>
                <% else %>
                  <input type="checkbox" class="secondary-content completed" checked="checked" id="<%= item.id %>" data-trip-id="<%= @trip.id %>" data-checklist-id="<%= checklist.id %>"/>
                <% end %>
              <label for="<%= item.id %>"></label>
              <% end %>
              <span class="flow-text"><%= item.content %></span>
              <% if @trip.present? %>
                <%= link_to 'X', trip_checklist_list_item_path(@trip, checklist, item), method: 'delete', class: 'waves-effect waves-circle waves-light btn-floating secondary-content delete-item', data: {confirm: 'Really delete this item?'} %>
              <% end %>
            </div>
          <% end %>
            <% if @trip.present? %>
              <div class="collapsible-header">
              <%= link_to 'add list item', new_trip_checklist_list_item_path(@trip,checklist), class: 'waves-effect waves-light btn' %>
              </div>
            <% else %>
              <div class="center">
                <%= link_to 'Go to Trip', trip_path(checklist.trip_id), class: 'waves-effect waves-light btn' %>
              </div>
            <% end %>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
</ul>