%table.centered.bordered.striped
  %thead
    %tr
      %th{"data-field" => "id"} Name
      %th{"data-field" => "name"} Date Uploaded
      %th{"data-field" => "name"} Expires
    - if @user.documents.empty?
      %tbody
        %td.center-align There are currently zero documents
        %td
        %td
        %td
    - else
      %tbody
        - @user.documents.each do |document|
          %tr
            %td
              = link_to document.name.titleize, document.attachment.url(:original, false), target:"_blank", rel:"external"
            %td
              = document.created_at.strftime('%m/%d/%Y')
            %td
              - if document.expiration_date != nil
                = document.expiration_date.strftime('%m/%d/%Y')
            %td
              = link_to 'Destroy', document_path(document), method: 'delete', data:{confirm: 'Really Destroy?'}
.center-align
  = link_to 'New Upload', new_document_path, class: 'btn top-margin'
