<p class="center-align">New Reservations are made within a Trip.<br>Not all reservations are shown here.</p>
<ul class="collapsible popout" data-collapsible="accordion">
  <% @reservations.each do |reservation| %>
    <li>
      <div class="collapsible-header">
      <%= reservation.icon.html_safe %>
        <%= reservation.business_name %>
      </div>
      <div class="collapsible-body container">
        <div class="collection">
          Type: <%= reservation.type %><br>
          Confirmation # <%= reservation.confirmation_number %><br>
          Check in Date: <%= reservation.check_in_date.try(:strftime, '%B %e, %Y') %><br>
          Check out Date: <%= reservation.check_out_date.try(:strftime, '%B %e, %Y') %><br>
          Note: <%= reservation.note %><br>
          <div class="center-align">
            <%= link_to 'Go to Trip', trip_path(reservation.trip_id), class: 'waves-effect waves-light btn' %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>