<ul class="collapsible popout" data-collapsible="accordion">
  <li class="new-reservation-link"data-trip-id='<%= @trip.id %>'>
    <div class="collapsible-header"><i class="fa fa-plus fa-2x"></i>New Reservation</div>
  </li>
  <% @reservations.each do |reservation| %>
    <li>
      <div class="collapsible-header">
        <%= reservation.icon.html_safe %>
        <%= reservation.business_name %>
        <%= link_to 'Show', trip_reservation_path(@trip, reservation), class: 'wave-effect waves-light btn secondary-content' %>
      </div>
      <div class="collapsible-body container">
        <div class="collection">
          Type: <%= reservation.type %><br>
          Confirmation # <%= reservation.confirmation_number %><br>
          Check in Date: <%= reservation.check_in_date %><br>
          Check out Date: <%= reservation.check_out_date %><br>
          Note: <%= reservation.note %><br>
          <%= link_to 'Edit', sti_reservation_path(@trip, reservation.type, reservation, :edit) %>
          <%= link_to 'Destroy', sti_reservation_path(@trip, reservation.type, reservation), method: :delete, data: {confirm: 'Are you sure?' } %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
