<div class="row">
  <div class="col s12 l4 offset-l4 new-contact-link">
    <div class="card-panel hoverable teal accent-2">
      <div class="center-align">
        <i class="fa fa-plus fa-2x"></i><br>
          Create New Contact
      </div>
    </div>
  </div>
  <div class="col s12 m6 offset-m3">
    <div class="card-panel blue accent-2 bottom-margin-zero">
      <h3 class="center-align white-text">Contact List</h3>
    </div>
    <ul class="collapsible popout top-margin-zero" data-collapsible="accordion">
      <% @contact.each do |contact| %>
        <li>
          <div class="collapsible-header">
            <%= contact.name %>
          </div>
          <div class="collapsible-body container">
            <div class="collection">
              Phone number: <%= contact.phone_number %><br>
              Email: <%= contact.email %><br>
              Note: <%= contact.note_field %><br>
              <%= link_to 'Show', contact_path(contact), class: 'waves-effect waves-light btn' %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
