<br>
<div class="container">
  <div class="topish-left">
    <%= link_to 'Back', contacts_path %>
  </div>
</div>
<div class="row">
  <div class="col offset-m3 s12 m6">
    <div class="card blue accent-2">
      <div class="card-content white-text">
        <span class="card-title"><%= @contact.name %></span>
        <div>
					Phone Number: <%= @contact.phone_number %><br>
					Email: <%= @contact.email %><br>
					Notes: <%= @contact.note_field %><br>
					Emergency Contact: <%= @contact.ice %><br>
				</div>
			</div> 
      <div class="card-action">
				<%= link_to "Edit", edit_contact_path(@contact) %>
				<%= link_to 'Delete', contact_path(@contact), data: {:confirm => 'Are you sure?'}, :method => :delete %>
      </div>
    </div>
  </div>
</div>
