= form_for [@user, @document] do |f|
  = f.label :name
  = f.text_field :name
  = f.label :expiration_date
  = f.date_field :expiration_date
  = f.label :attachment
  = f.file_field :attachment
  = f.submit 'Create'