<h1>Reservations#show</h1>
<p>Find me in app/views/reservations/show.html.erb</p>

Type: <%= @reservation.type %><br>
Business Name: <%= @reservation.business_name %><br>
Confirmation # <%= @reservation.confirmation_number %><br>
Check in Date: <%= @reservation.check_in_date %><br>
Check out Date: <%= @reservation.check_out_date %><br>
Note: <%= @reservation.note %><br>