<div class="row valign-wrapper">
	<div class="col m8 hide-on-small-only responsive-img left-align">
		<%= image_tag "50.gif", width: "100%" %>
	</div>

	<div class="col s12 m4 valign border">
		<h4 class="center-align blue-text text-darken-2">Log in</h4>

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="input-field">
			<%= f.email_field :email, autofocus: true %>
			<%= f.label :email %>
		</div>

		<div class="input-field">
			<%= f.password_field :password, autocomplete: "off" %>
			<%= f.label :password %>
		</div>

		<% if devise_mapping.rememberable? -%>
		<div class="field right-align">
			<%= f.check_box :remember_me %>
			<%= f.label :remember_me %>
		</div>
		<% end -%>

		<div class="actions right-align">
			<%= f.submit "Log in" , class: 'btn waves-light'%>
		</div>
		<% end %>
		<%= render "devise/shared/links" %>
	</div>
</div>
<div class="section light-grey">
	<div class="row container">
		<h1>
			<blockquote>
				We travel not to escape life, <br>but for life not to escape us.
			</blockquote>
		</h1>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><img src="http://scottosmith.com/wp-content/uploads/2013/09/salt_lake_city_130828-16.jpg"></div>
</div>
<div class="section">
	<div class="row container">
		<!--  -->
		<h5 class="col s4">
			<div class="row">
				<div class="col s2">
					<%= image_tag("icons/check.png", width: "190%") %>
				</div>
				<div class="col s9 offset-s1">
					Never forget your socks again
				</div>
			</div>
		</h5>
		<!--  -->
		<h5 class="col s4">
			<div class="row">
				<div class="col s2">
					<%= image_tag("icons/check.png", width: "190%") %>
				</div>
				<div class="col s9 offset-s1">
					Keep your trip organized
				</div>
			</div>
		</h5>
		<!--  -->
		<h5 class="col s4">
			<div class="row">
				<div class="col s2">
					<%= image_tag("icons/check.png", width: "190%") %>
				</div>
				<div class="col s9 offset-s1">
					Easy access to various documents
				</div>
			</div>
		</h5>
	</div>
	<!--  -->
  <strong><h4 class="center-align">Keeping track of what you need, for when you need it.</h4></strong>
  <strong><p class="center-align">One Pleasant Trip at a Time</p></strong>
	<div class="center-align"> <%= link_to "Sign Up Today", new_user_registration_path, class: "btn-large" %>
	</div>
</div>