<div class="row">
  <div class="col m8 hide-on-small-only responsive-img left-align">
    <%= image_tag "50.gif", width: "100%" %>
  </div>

  <div class="col s12 m4">
  <h4 class="center-align">Log in</h4>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="input-field">
    <%= f.email_field :email, autofocus: true %>
    <%= f.label :email %>
  </div>

  <div class="input-field">
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.label :password %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field right-align">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions right-align">
    <%= f.submit "Log in" , class: 'btn'%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
<br>