= form_for @address do |f|
  = f.label :latitude
  = f.number_field :latitude
  = f.label :longitude
  = f.number_field :longitude
  = f.label :address
  = f.text_field :address
  = f.hidden_field :user_id, :value => current_user.id
  = f.submit