= form_for [@trip, @checklist] do |f|
  .input-field.col.s12
    = f.text_field :title, autofocus: true
    = f.label :title
  .input-field.col.s12
    = f.label :due_date
    = f.date_field :due_date, class: "datepicker"
  .input-field.center-align
    %input.btn{ type: 'submit', value: 'Submit'}