%footer.page-footer
  .container
    .row
      .col.l6.s12
        %h5.white-text 
          This will be the footer
        %p.grey-text.text-lighten-4
          -if current_user
            List all links to every page here
            -# %br
            -# = link_to "User trip reservations", user_trip_reservations_path(@user, @trip)
            %br
            = link_to "Contacts", user_contacts_path(current_user, @contacts)
            %br
            %a{href: "/about"} About
            %br
            = link_to "Documents", user_documents_path(current_user, @documents)
            %br
            -# = link_to "reservations", user_trip_reservations_path(current_user, @trip, @reservations)
            %br
            = link_to "Trips", user_trips_path(current_user, @trips)
            %br
            -# = link_to "users", users_path
            %br
            = link_to "Vaccines", user_vaccines_path(current_user)
            %br
            = link_to "checklists", "http://localhost:3000/users/1/trips/1/checklists"
            %br
            A web application that will assist in planning your travels
  .footer-copyright
    .container
      %p.center-align © 2015 Travel Buddy