%nav
  .nav-wrapper
    %a.brand-logo{href: '/'} Travel Buddy
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "/"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      %li
        %a{href: "/"} Home
      %li
        - if user_signed_in? 
          %a{href: "/users/#{current_user.id}"} Profile
        - else
          %a{href: "/users"} Profile
      %li
        %a{href: "/about"} About
      - if user_signed_in?
        %li= link_to 'Log Out', destroy_user_session_path, method: :delete
      - else
        %li= link_to 'Log In', new_user_session_path
        %li= link_to 'Sign Up', new_user_registration_path
    %ul#mobile-demo.side-nav
      %li
        - if user_signed_in? 
          %a{href: "/users/#{current_user.id}"} Profile
        - else
          %a{href: "/users"} Profile
      %li
        %a{href: "/"} Home
      %li
        %a{href: "/about"} About
      - if user_signed_in?
        %li= link_to 'Log Out', destroy_user_session_path, method: :delete
      - else
        %li= link_to 'Log In', new_user_session_path
        %li= link_to 'Sign Up', new_user_registration_path