%nav.blue.accent-1
  .nav-wrapper
    %a.brand-logo.responsive-img{href: '/'}
      = image_tag "Travel_Buddy_logo_icon.png"
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "/"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      - if user_signed_in?
        %li
          %a{href: "/"} Home 
        %li
          %a{href: "/trips"} Trips
        %li
          %a{href: "/contacts"} Contacts
        %li
          %a{href: "/account"} Account
          - if user_signed_in? 
          - else
            %a{href: "/account"} Account
        %li= link_to 'Log Out', destroy_user_session_path, method: :delete
      - else
        %li
          %a{href: "/about"} About
        %li= link_to 'Log In', new_user_session_path
        %li= link_to 'Sign Up', new_user_registration_path
    %ul#mobile-demo.side-nav
      - if user_signed_in?
        %li
          %a{href: "/"} Home 
        %li
          %a{href: "/trips"} Trips
        %li
          %a{href: "/contacts"} Contacts
        %li
          %a{href: "/account"} Account
          - if user_signed_in? 
          - else
            %a{href: "/account"} Account
        %li= link_to 'Log Out', destroy_user_session_path, method: :delete
      - else
        %li
          %a{href: "/about"} About
        %li= link_to 'Log In', new_user_session_path
        %li= link_to 'Sign Up', new_user_registration_path        