<!DOCTYPE html>
<html>
<head>
	<title>TravelBuddy</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="page-flexbox-wrapper">
	<%= render 'layouts/navbar' %>
	<%= render 'shared/flash' %>
	<% unless current_page?(about_path) %>
	<div class="container">
		<%= yield %>
	</div>
	<% else %>
		<%= yield %>

	<% end %>
	<%= render 'layouts/footer' %>
</body>
</html>
